setuptools
lxml
requests
shippo~=2.0.2
smartetailing
git+https://github.com/beckf/lightspeed_api.git@master
Flask~=1.1.2
boto3~=1.17.57
pandas~=1.2.3
python-dateutil~=2.8.1
matplotlib~=3.4.1
numpy>=1.21
sentry_sdk