setuptools==54.2.0
lxml~=4.6.2
requests==2.25.1
selenium~=3.141.0
pykml~=0.2.0
geopy~=2.1.0
Flask~=1.1.2
shippo~=2.0.2
pandas~=1.2.3
smartetailing~=0.3.0
geographiclib~=1.50
numpy~=1.20.2
Shapely~=1.7.1